.home {
  animation: fadeIn 0.8s ease-in-out;
}

.hero,
.about,
.services,
.pricing,
.why,
.process,
.testimonials,
.faq,
.careers,
.contact {
  animation: fadeUp 0.8s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}